.version.index /* version checker */
{
	color: #0000F7;
	background-color: #E45943;
}

#page
{
	z-index: 1;
	width: 642px;
	min-height: 481.97500000000036px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 177px 469px 41.024999999999636px 89px;
}

#u139-4
{
	z-index: 27;
	width: 200px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #8D7358;
	margin-left: 1px;
	position: relative;
}

#u132-4
{
	z-index: 4;
	width: 640px;
	min-height: 95px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #8D7358;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#pu119
{
	width: 0.01px;
	margin-top: -4px;
}

#u119
{
	z-index: 2;
	width: 341px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u135-8
{
	z-index: 8;
	width: 460px;
	background-color: transparent;
	color: #8D7358;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u136-11
{
	z-index: 16;
	width: 300px;
	background-color: transparent;
	color: #8D7358;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
}

#u144
{
	z-index: 31;
	width: 261px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 1px;
}

#widgetu228
{
	z-index: 33;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
}

#widgetu235
{
	z-index: 34;
	width: 243px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu235.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 243px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u236-5
{
	z-index: 35;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u237-5
{
	z-index: 40;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu235.non-empty-st #u237-5
{
	background-color: #FFFFFF;
}

#widgetu235:hover #u237-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu235.focus-st #u237-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu235.non-empty-st #u237-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235:hover #u237-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235.focus-st #u237-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu239
{
	z-index: 45;
	width: 243px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu239.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 243px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u242-5
{
	z-index: 46;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu239.fld-err-st #u242-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u240-5
{
	z-index: 51;
	width: 229px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu239.non-empty-st #u240-5
{
	background-color: #FFFFFF;
}

#widgetu239:hover #u240-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu239.focus-st #u240-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu235.fld-err-st #u237-5,#widgetu239.fld-err-st #u240-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu239.non-empty-st #u240-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu239:hover #u240-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu239.focus-st #u240-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235_input,#widgetu235_prompt,#widgetu239_input,#widgetu239_prompt
{
	width: 229px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u243-5
{
	z-index: 56;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu228.frm-sub-st #u243-5 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u233-5
{
	z-index: 61;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu228.frm-subm-err-st #u233-5 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u244-5
{
	z-index: 66;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu228.frm-sub-st #u243-5,#widgetu228.frm-subm-err-st #u233-5,#widgetu228.frm-subm-ok-st #u244-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu228.frm-subm-ok-st #u244-5 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u234-21
{
	z-index: 71;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u234-21.png") no-repeat 0px 0px;
}

#u234-21:hover
{
	background: url("../images/u234-21-r.png") no-repeat 0px 0px;
}

#u234-21:active
{
	background: url("../images/u234-21-m.png") no-repeat 0px 0px;
}

#widgetu228.frm-sub-st #u234-21
{
	background: url("../images/u234-21-fs.png") no-repeat 0px 0px;
}

#widgetu229
{
	z-index: 92;
	width: 243px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu229.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 243px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u231-5
{
	z-index: 93;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu235.fld-err-st #u236-5,#widgetu229.fld-err-st #u231-5
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu235.fld-err-st #u236-5 p,#widgetu235.fld-err-st #u236-5 span,#widgetu239.fld-err-st #u242-5 p,#widgetu239.fld-err-st #u242-5 span,#widgetu229.fld-err-st #u231-5 p,#widgetu229.fld-err-st #u231-5 span
{
	color: #D7244C;
}

#u232-4
{
	z-index: 98;
	width: 229px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu229.non-empty-st #u232-4
{
	background-color: #FFFFFF;
}

#widgetu229:hover #u232-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu229.focus-st #u232-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu229.fld-err-st #u232-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 229px;
	margin: 19px -10000px 0px 0px;
}

#widgetu229.non-empty-st #u232-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu229:hover #u232-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu229.focus-st #u232-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235.fld-err-st #u237-5 *,#widgetu239.fld-err-st #u240-5 *,#widgetu229.fld-err-st #u232-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu229_input,#widgetu229_prompt
{
	width: 229px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu235.focus-st #widgetu235_prompt,#widgetu239.focus-st #widgetu239_prompt,#widgetu229.focus-st #widgetu229_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu235:hover #widgetu235_input,#widgetu235.focus-st #widgetu235_input,#widgetu235.fld-err-st #widgetu235_input,#widgetu235:hover #widgetu235_prompt,#widgetu235.fld-err-st #widgetu235_prompt,#widgetu239:hover #widgetu239_input,#widgetu239.focus-st #widgetu239_input,#widgetu239.fld-err-st #widgetu239_input,#widgetu239:hover #widgetu239_prompt,#widgetu239.fld-err-st #widgetu239_prompt,#widgetu229:hover #widgetu229_input,#widgetu229.focus-st #widgetu229_input,#widgetu229.fld-err-st #widgetu229_input,#widgetu229:hover #widgetu229_prompt,#widgetu229.fld-err-st #widgetu229_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu235.non-empty-st #widgetu235_prompt,#widgetu239.non-empty-st #widgetu239_prompt,#widgetu229.non-empty-st #widgetu229_prompt
{
	visibility: hidden;
}

#u207-4
{
	z-index: 102;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #8D7358;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u208-4
{
	z-index: 106;
	width: 200px;
	background-color: transparent;
	color: #8D7358;
	margin-left: 1px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

